<h1>
  <%= @actor.name %>
</h1>

<dl>
  <dt>Date of Birth:</dt>
  <dd><%= @actor.dob %></dd>

  <dt>Biography</dt>
  <dd><%= @actor.bio %></dd>

  <dt>Image URL</dt>
  <dd>
    <img src="<%= @actor.image_url %>">
  </dd>
</dl>

<a href="http://localhost:3000/delete_actor/<%= @actor.id %>">Delete this actor</a>
